In [1]:
import requests
from bs4 import BeautifulSoup
from bs4 import BeautifulSoup as bs

In [26]:
response = requests.get("https://wuzzuf.net/search/jobs/?q=data+analyst&a=navbl")
response.content[:500]

b'<!DOCTYPE html>\n<html lang="en">\n<head>\n    <meta charset="utf-8">\n    <meta http-equiv="X-UA-Compatible" content="IE=edge">\n    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">\n    <meta http-equiv="expires" content="Thu Dec 08 2022 18:30:44 GMT+0200" />\n\n    <meta http-equiv="Pragma" content="no-cache">\n    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">\n\n    <title data-react-helmet="true">Job Search | WUZZUF</title>\n\n<me'

In [20]:
soup = BeautifulSoup(response.content, 'html.parser')

In [24]:
jobs = soup.findAll('div', attrs={"class":"css-1gatmva"})
len(jobs)

15

### scraping all attributes of the first job

In [59]:
job_title = jobs[0].find_all('h2', {'class': "css-m604qf"})
job_title[0].text.strip()

'Senior Data Analyst'

In [60]:
company_name = jobs[0].find_all('a', {'class': "css-17s97q8"})
company_name[0].text.strip()

'Fawry for Banking Technology and Electronic Payments S.A.E -'

In [61]:
time = jobs[0].find_all('span', {'class': "css-1ve4b75"})
time[0].text.strip()

'Full Time'

In [80]:
company_location = jobs[0].find_all('span', {'class': "css-5wys0k"})
company_location[0].text.strip()

'Smart Village, Giza, Egypt'

In [122]:
''.join([x.text for x in jobs[0].select('div.css-y4udm8 a')][1:])

'Experienced · Business Development · Analyst/Research · Analysis · analyticalAnalyst · Business Intelligence · businessDataData Analysis · Information Technology (IT)'

### scraping all jobs attributes into a csv file

In [114]:
import csv

In [126]:
with open('Data_Analyst_Jobs.csv', 'w', encoding='utf-8') as file:
    writer_obj = csv.writer(file)
    writer_obj.writerow(['Job_Title', 'Company_Name', 'Time', 'Company_Location', 'Job_Skills'])
    
    for job in jobs:
            job_title = job.find_all('h2', {'class': "css-m604qf"})
            job_title = job_title[0].text.strip()

            company_name = job.find_all('a', {'class': "css-17s97q8"})
            company_name = company_name[0].text

            time = job.find_all('span', {'class': "css-1ve4b75"})
            time = time[0].text.strip()

            company_location = job.find_all('span', {'class': "css-5wys0k"})
            company_location = company_location[0].text.strip()

            job_skills= ''.join([x.text for x in job.select('div.css-y4udm8 a')][1:])

            writer_obj.writerow([job_title, company_name, time, company_location, job_skills])

### cheking our data

In [127]:
import pandas as pd

In [128]:
df= pd.read_csv('Data_Analyst_Jobs.csv')
df.head()

,Job_Title,Company_Name,Time,Company_Location,Job_Skills
0,Senior Data Analyst,Fawry for Banking Technology and Electronic Pa...,Full Time,"Smart Village, Giza, Egypt",Experienced · Business Development · Analyst/R...
1,Data Analyst,Confidential -,Full Time,"Heliopolis, Cairo, Egypt",Experienced · Business Development · Analyst/R...
2,Data Analyst,Othaim -,Full Time,"Katameya, Cairo, Egypt",Experienced · IT/Software Development · Analys...
3,Data Analyst,Al Ahly capital holding - Al Ahly Tamkeen -,Full Time,"Zamalek, Cairo, Egypt",Experienced · IT/Software Development · Analys...
4,Data Analyst,Hands of Hope Physical Therapy & Wellness -,Full Time,"Maadi, Cairo, Egypt",Experienced · R&D/Science · IT/Software Develo...

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Job_Title         15 non-null     object
 1   Company_Name      15 non-null     object
 2   Time              15 non-null     object
 3   Company_Location  15 non-null     object
 4   Job_Skills        15 non-null     object
dtypes: object(5)
memory usage: 728.0+ bytes